<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nova.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nova.UI.Properties.Settings>
            <setting name="CustomerDataServiceUri" serializeAs="String">
                <value>http://localhost:52547/Customers.svc</value>
            </setting>
            <setting name="SearchMiliseconds" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="MaxLocations" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CustomerLocationStatsUri" serializeAs="String">
                <value>http://localhost:52547/LocationStatistics.aspx</value>
            </setting>
            <setting name="MaxViewCustomers" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="CustomerCategoryStatsUri" serializeAs="String">
                <value>http://localhost:52547/CategoryStatistics.aspx</value>
            </setting>
        </Nova.UI.Properties.Settings>
    </applicationSettings>
</configuration>