<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonWin32" version="0.0.6.0" targetFramework="net40-Client" />
  <package id="ExtensionsMadeEasy.ClientAPI" version="1.2" targetFramework="net40-Client" />
  <package id="LightSwitchMetroTheme" version="2.2.3" targetFramework="net40-Client" />
  <package id="MetroWPF" version="0.2.6.6" targetFramework="net40-Client" />
</packages>